@import 'variables';

body {
  background-color: $bodyBgColor;  
  // font-family: 'Berkshire Swash', cursive;
  // font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  // font-family: 'Alfa Slab One', Arial, Helvetica, sans-serif;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  // font-family: 'Acme', Arial, Helvetica, sans-serif;
  margin: 0;
}

body, a {
  color: $bodyTextColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', Arial, Helvetica, sans-serif;
  margin: 0;
}

p {
  line-height: 1.35rem;
  margin-bottom: 0;
  + h2 {
    margin-top: 1em;
  }
}

ul {
  margin-bottom: 0;
}

small {
  display: block;
  margin: 1rem 0;
}

nav {
  background: lighten($navBgColor, 12%);
  border-bottom: 1px solid $darkBrown;
  display: flex;
  left: 0;
  padding: 0 $standardPadding;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  .menu-button {
    @include block-cta;
    background: darken($aqua, 60%);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: .5rem 0;
    outline: none;
    padding: .5rem;
    position: relative;
    &:hover {
      background: darken($aqua, 55%);
    }
    @media (min-width: $mediumLayoutMin) {
      display: none;
    }
  }
  h1 {
    font-size: $standardFontSize;
    margin: ($standardPadding/3) 0;
  }
  .menu-nav-list {
    $navListWidth: 12.75rem;
    background: white;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    height: 100vh;
    left: -$navListWidth;
    margin: 0;
    padding-left: 0;
    padding-top: 2rem;
    position: fixed;
    top: -$standardPadding;
    transition: left .2s;
    width: $navListWidth;
    z-index: 2;
    &.visible {
      left: 0;
    }
    @media (min-width: $mediumLayoutMin) {
      background: none;
      display: flex;
      padding: 0 1rem;
      position: relative;
      left: 0;
      height: auto;
      top: 0;
      width: auto;
      li {
        padding: .5rem;
      }
      .close-menu {
        display: none;
      }
    }
  }
  .header-contact-link {
    @include standardTextShadow;
    font-size: .8rem;
    margin: .5rem 2.25rem .5rem auto;
    padding: .5rem;
    @media (min-width: $mediumLayoutMin) {
      height: fit-content;
    }
  }
  li {
    list-style-type: none;
    padding-left: $standardPadding;
    &:not(.close-menu):hover {
      background: $bodyBgColor;
      @media (min-width: $mediumLayoutMin) {
        background: none;
      }
    };
    a {
      display: block;
      padding: $standardPadding ($standardPadding*3) $standardPadding ($standardPadding/2);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      };
      @media (min-width: $mediumLayoutMin) {
        padding-bottom: $standardPadding/2;
        padding-top: $standardPadding/2;
      }
    }
  }
}



h1 {
  font-size: 1.6667rem;
  + h2 {
    margin-top: 1rem;
  }
}

h2 {
  font-size: 1.25rem;
}

.wrapper {
  position: relative;
}

.grid {
  display: grid;
}

.grid, .centered-content {
  max-width: $contentWidth;
  width: 100%;
}

main {
  position: relative;
  padding-top: 3rem;
  &.nav-open {
    opacity: 0.3;
    @media (min-width: $mediumLayoutMin) {
      opacity: 1;
    }
  }
  ul {
    margin: 0;
    padding-left: 1rem;
  }
  li {
    margin: .5rem 0;
  }
  > section {
    display: flex;
    justify-content: center;
    padding: ($standardPadding*2) $standardPadding;
    &:nth-of-type(odd) {
      background: lighten($mellowOrange, 22%);
    }
    &.slideshow {
      @include responsive-background-img('../images/massage-happening-here.jpg');
      background-attachment: fixed;
      @media (min-width: $mediumLayoutMin) {
        height: 40vh;
      }
      h1 {
        @media (min-width: $mediumLayoutMin) {
          font-size: 3rem;
        }
      }
    }
  }
}

#services-title {
  @include responsive-background-img('../images/candles.jpg');
}

#contact-title {
  @include responsive-background-img('../images/geranium-water-rings.jpg');
}

#about-title {
  @include responsive-background-img('../images/towels.jpg');
}

#services-title, #contact-title, #about-title {
  @include sectionTitle;
  background-attachment: fixed;
  @media (min-width: $mediumLayoutMin) {
    height: 30vh;
    max-height: 16rem;
  }
}

#services {
  padding-top: 1.5rem;
}


#gigi-headshot {
  border-radius: 100%;
  float: left;
  margin: ($standardMargin*2) ($standardMargin*2) ($standardMargin*2.5) 0;
  max-width: 15rem;
  overflow: hidden;
  shape-outside: circle(42%);
  width: 45%;
}


.services-and-rates {
  @media (min-width: $mediumLayoutMin) {
    display: flex;
  }
  > li {
    list-style-type: none;
    @media (min-width: $mediumLayoutMin) {
      flex: 1 1 0;
      margin-top: 0;
      padding-right: 2rem;
      &:last-child {
        padding-right: 0;
      }
    }
    + li {
      margin-top: 1rem;
      @media (min-width: $mediumLayoutMin) {
        margin-top: 0;
      }
    }
  }
}

.block-cta {
  @include block-cta;
}

.slideshow {
  @include standardTextShadow;
  color: white;
  min-height: 8rem;
  overflow: hidden;
  h1 + h2 {
    margin: 0 0 1rem 0
  }
  .block-cta {
    margin: auto 0 1rem 0;
    &:last-of-type {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  @media (min-width: $mediumLayoutMin) {
    min-height: 14rem;
  }
  @media (min-width: $largeLayoutMin) {
    min-height: 20rem;
  }
  .slide {
    display: flex;
    flex-direction: column;
    @media (min-width: $smallLayoutMin) {
      display: block;
      .block-cta {
        margin-right: 1rem;
      }
    }
  }
}