$baseUnit: 1rem;

$darkBrown: #541900;
$softGold: #F2D9A7;
$sandy: #FFF5E2;
$mellowOrange: #FFB480;
$aqua: #C0FFF2;
$wornGreen: #78CCA3;

$standardPadding: $baseUnit;
$standardMargin: $baseUnit;
$standardFontSize: $baseUnit;

$smallLayoutMin: 30rem;
$mediumLayoutMin: 48rem;
$contentWidth: 60rem;
$largeLayoutMin: 76rem;

$navBgColor: $softGold;
$bodyTextColor: $darkBrown;
$bodyBgColor: lighten($sandy, 3%);
$slideshowBgColor: $wornGreen;

@mixin standardTextShadow {
  text-shadow: 1px 1px 2px black;
}

@mixin block-cta {
  background: lighten($wornGreen, 5%);
  border-radius: .5em;
  box-shadow: 1px 1px 3px #333;
  color: white;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  transition: .2s background linear;
  &:hover {
    background: saturate(lighten($wornGreen, 5%), 20%);
  }
}
// 

@mixin responsive-background-img($imgSrc) {
  background: url('#{$imgSrc}?size=480') 0 0 / cover no-repeat;
  @media(min-width: $smallLayoutMin) {
    background-image: url('#{$imgSrc}?size=768');
  }
  @media(min-width: $mediumLayoutMin) {
    background-image: url('#{$imgSrc}?size=1216');
  }
  @media(min-width: $largeLayoutMin) {
    background-image: url('#{$imgSrc}?size=1980');
  }
}

@mixin sectionTitle {
  @include standardTextShadow;
  color: white;
  min-height: 4rem;
  .centered-content {
    display: flex;
  }
  h1 {
    margin: auto 0;
  }
  @media(min-width: $mediumLayoutMin) {
    min-height: 6rem;
  }
}
